@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: $font-text;
  font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin-bottom: -.5rem;
}

a {
  text-decoration: none;
}

.main__nav {
  position: absolute;
  top: .2rem;
  right: .35rem;
  z-index: 999;

  a {
    color: black;
    text-decoration: underline;
  }
}
