.home__widget {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;
  position: relative;
  overflow: hidden;

  h1 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1;
    border-bottom: 1px solid black;
    margin-top: 2.5rem;
  }
}

.home__container {
  width: 18rem;
  height: 18rem;
  border: 1px solid black;
  border-radius: 50%;
  padding: 1rem;
  position: relative;
  z-index: 0;
}

.home__widget__alien {
  position: absolute;
  top: -4.6rem;
  left: -3.55rem;
  z-index: 1;

  img {
    transform: rotate(.3deg);
    width: 25rem;
    filter: contrast(.95);
  }
}

.home__container__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(135, 206, 235, .97);
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  z-index: 2;

  img:first-of-type {
    position: absolute;
    top: 4rem;
    width: 32%;
    transform: rotate(-10deg);
    filter: contrast(1.1);
  }

  img:last-of-type {
    position: absolute;
    top: 4.1rem;
    left: 6.6rem;
    width: 12%;
    transform: rotate(-12deg);
    filter: contrast(1.1);
  }
}

.home__nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .65rem;
}

.home__nav {
  display: flex;
  align-items: center;
  text-align: center;
  gap: .5rem;
  width: 20rem;

  a {
    background-color: white;
    font-size: 1rem;
    color: black;
    border: 1px black solid;
    border-radius: 0 5rem 5rem 5rem;
    padding-top: .75rem;
    padding-bottom: .35rem;
    cursor: pointer;
    width: 100%;
  }

  a:last-of-type {
    border-radius: 5rem 0 5rem 5rem;
  }

  &.home__howto a {
    border-radius: 0 0 2rem 2rem;
  }
}

#heart {
  position: absolute;
  bottom: -1.5rem;
  width: 8rem;
  transform: rotate(180deg);
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 2.6rem;
  width: 2.5rem;
  height: 8.5rem;
  background: white;
  border-radius: 0 0 3.125rem 3.125rem;
  transform: rotate(-12deg);
}

#heart:after {
  left: 0;
  height: 9.3rem;
}
