.mobile__controls__container {
  display: none;
}

.play__score__container {
  position: absolute;
  top: .5rem;
  left: 1rem;
  z-index: 99;
  display: flex;
  gap: .5rem;

  p {
    color: white;
    font-size: 2rem;
  }
}

.play__endgame__modal {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  z-index: 990;
  transition: opacity 1s ease-out;

  &.show {
    opacity: 1;
  }
}

.play__endgame__modal__inner {
  width: 35%;
  background-color: gray;
  border-radius: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2% 0;

  p {
    font-size: 4rem;
    font-weight: 900;
    color: rgb(148, 38, 38);
  }
}

.restart {
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 2rem;
  padding: .5rem 1rem;
  margin-top: 1rem;
  background-color: inherit;
  cursor: pointer;
}

.play__endgame__modal__score {
  display: flex;
  align-items: center;
  gap: .5rem;

  p {
    font-size: 1.5rem;
    color: black;
  }
}

@media(max-width: 540px) {
  .play__score__container {
    top: 96%;
    left: 50%;
    transform: translate(-50%);

    p {
      font-size: 1rem;
    }
  }

  .mobile__controls__container {
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    bottom: 1.5rem;
    padding: 0 1rem;
  }

  .shoot__btn__mobile {
    width: 7rem;
    height: 7rem;
    overflow: hidden;
    cursor: default;
    border: 1px dotted white;
    border-radius: 50%;
    background-color: rgb(184, 64, 64);
    box-shadow: 0px 0px 10px rgb(168, 217, 226);
  }

  .movement__btns__mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    cursor: default;
    border: 1px dotted white;
    border-radius: 50%;
    background-color: rgb(168, 217, 226);
    box-shadow: 0px 0px 10px rgb(168, 217, 226);

    .up {
      display: inline;
      width: 2.5rem;
      height: 4rem;
      background-color: rgb(96, 100, 97);
      border-top: none;
      border-bottom: none;
      border-left: 1px dotted white;
      border-right: 1px dotted white;
      padding: 0;
      z-index: 1;
      box-shadow: 0 10px 10px black;
    }

    .down {
      display: inline;
      width: 2.5rem;
      height: 4rem;
      background-color: rgb(96, 100, 97);
      border-top: none;
      border-bottom: none;
      border-left: 1px dotted white;
      border-right: 1px dotted white;
      padding: 0;
      z-index: 1;
      box-shadow: 0 -10px 10px black;
    }

    .horizontal__box {
      display: flex;

      .left {
        display: inline;
        width: 4.5rem;
        height: 2.5rem;
        background-color: rgb(96, 100, 97);
        border-top: 1px dotted white;
        border-bottom: 1px dotted white;
        border-left: none;
        border-right: none;
        padding: 0;
        z-index: 2;
        box-shadow: 10px 0 10px black;
      }

      .right {
        display: inline;
        width: 4.5rem;
        height: 2.5rem;
        background-color: rgb(96, 100, 97);
        border-top: 1px dotted white;
        border-bottom: 1px dotted white;
        border-left: 1px dotted white;
        border-right: none;
        padding: 0;
        z-index: 2;
        box-shadow: 10px 0 10px black;
      }
    }
  }

  .play__endgame__modal__inner {
    width: 80%;
    padding: 5% 0;
    gap: .2rem;

    p {
      font-size: 2rem;
    }
  }

  .play__endgame__modal__score {
    p {
      font-size: 1.2rem;
    }
  }

  .restart {
    margin-top: .5rem;
    font-size: 1.2rem;
  }
}