.mobile__controls__container {
  display: none;
}

.play__startgame__banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  opacity: 0;

  p {
    font-size: 1.7rem;
  }

  span {
    color: rgb(184, 64, 64);
  }

  &.show {
    transition: opacity 2s ease-out;
    opacity: 1;
  }

  &.hide {
    display: none;
  }
}

.play__score__container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1%;

  p {
    color: black;
    font-size: 1.7rem;
  }

  &.noDisplay {
    display: none;
  }
}

.play__score__container__capsules__time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.play__score__container__capsules {
  display: flex;
  gap: .3rem;
}

.play__score__container__time {
  margin-top: -.5rem;
}

.play__score__container__resilience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  progress {
    border-radius: 0 5rem 5rem 5rem;
    width: 100%;
    height: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  }

  ::-webkit-progress-bar {
    background-color: aliceblue;
    border-radius: 0 5rem 5rem 5rem;
  }

  ::-webkit-progress-value {
    background-color: green;
    border-radius: 0 5rem 5rem 5rem;
  }

  ::-moz-progress-bar {
    background-color: green;
    border-radius: 0 5rem 5rem 5rem;
  }
}

.play__boss__bar {
  position: absolute;
  top: .5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 70%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: .4rem;

  p {
    color: black;
    font-size: 1.2rem;
  }

  progress {
    border-radius: 0 5rem 5rem 5rem;
    width: 100%;
    height: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  }

  ::-webkit-progress-bar {
    background-color: aliceblue;
    border-radius: 0 5rem 5rem 5rem;
  }

  ::-webkit-progress-value {
    background-color: rgb(184, 64, 64);
    border-radius: 0 5rem 5rem 5rem;
  }

  ::-moz-progress-bar {
    background-color: rgb(184, 64, 64);
    border-radius: 0 5rem 5rem 5rem;
  }

  &.display {
    display: flex;
  }
}

.play__endgame__modal {
  transform: translateX(-100%);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 990;
  transition: all 1s ease-out;

  &.show {
    transform: translateX(0);
    opacity: 1;
  }
}

.play__endgame__modal__inner {
  width: 35%;
  background-color: white;
  border: 1px solid black;
  border-radius: 0 15rem 15rem 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0;

  p {
    font-size: 4rem;
    font-weight: 900;
    color: rgb(184, 64, 64);
    margin-bottom: -.5rem;
  }
}

.restart {
  font-size: 1.5rem;
  color: black;
  border: 1px solid black;
  border-radius: 5rem 0rem 5rem 5rem;
  padding: .5rem 1rem;
  padding-bottom: 0;
  margin-top: 1rem;
  background-color: inherit;
  cursor: pointer;
  font-family: $font-text;
}

.play__endgame__modal__score {
  display: flex;
  align-items: center;
  gap: .5rem;

  p {
    font-size: 1.5rem;
    color: black;
  }
}

@media(max-width: 540px) {
  .play__score__container {
    bottom: 1rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0;

    p {
      font-size: .9rem;
    }
  }

  .play__startgame__banner {
    top: 30%;

    p {
      font-size: 1.7rem;
    }
  }

  .play__score__container__resilience {
    progress {
      height: .5rem;
    }
  }

  .mobile__controls__container {
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    bottom: 1.5rem;
    padding: 0 1rem;
  }

  .shoot__btn__mobile {
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    cursor: default;
    border: 1px dotted black;
    border-radius: 50%;
    background-color: rgb(184, 64, 64);
    box-shadow: 0px 0px 10px black;
  }

  .movement__btns__mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    cursor: default;
    border: 1px dotted white;
    border-radius: 50%;
    background-color: rgb(168, 217, 226);
    box-shadow: 0px 0px 10px rgb(168, 217, 226);

    .up {
      display: inline;
      width: 2.5rem;
      height: 4rem;
      background-color: rgb(96, 100, 97);
      border-top: none;
      border-bottom: none;
      border-left: 1px dotted white;
      border-right: 1px dotted white;
      padding: 0;
      z-index: 1;
      box-shadow: 0 10px 10px black;
    }

    .down {
      display: inline;
      width: 2.5rem;
      height: 4rem;
      background-color: rgb(96, 100, 97);
      border-top: none;
      border-bottom: none;
      border-left: 1px dotted white;
      border-right: 1px dotted white;
      padding: 0;
      z-index: 1;
      box-shadow: 0 -10px 10px black;
    }

    .horizontal__box {
      display: flex;

      .left {
        display: inline;
        width: 4.5rem;
        height: 2.5rem;
        background-color: rgb(96, 100, 97);
        border-top: 1px dotted white;
        border-bottom: 1px dotted white;
        border-left: none;
        border-right: none;
        padding: 0;
        z-index: 2;
        box-shadow: 10px 0 10px black;
      }

      .right {
        display: inline;
        width: 4.5rem;
        height: 2.5rem;
        background-color: rgb(96, 100, 97);
        border-top: 1px dotted white;
        border-bottom: 1px dotted white;
        border-left: 1px dotted white;
        border-right: none;
        padding: 0;
        z-index: 2;
        box-shadow: 10px 0 10px black;
      }
    }
  }

  .play__boss__bar {
    width: 80%;
    gap: .3;

    p {
      font-size: .9rem;
    }

    progress {
      height: .6rem;
    }
  }

  .play__endgame__modal__inner {
    width: 80%;
    padding: 5% 0;

    p {
      font-size: 2rem;
    }
  }

  .play__endgame__modal__score {
    p {
      font-size: 1.2rem;
    }
  }

  .restart {
    margin-top: .5rem;
    font-size: 1.2rem;
  }
}